.home-background-image {
  height: 100%;
  background-image: url("../../images/homePage/Summer+Open_Cheryl+Mukherji+06.jpg");
}

.home-content {
  min-height: 70vh;
}

@media screen and (max-width: 640px) {
  .home-content {
    min-height: 78vh;
  }
}
