.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.nav-arrow {
  font-size: 30px;
  margin: 20px;
  cursor: pointer;
  flex-grow: 2;
  color: aliceblue;
}
.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: aliceblue;
}
.main-img {
  position: relative;
  margin: 0px;
}
.carousel-container > .main-img > img {
  width: 100%;
  height: 90vh;
}
.img-no {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.img-topic {
  color: aliceblue;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 6px;
  font-size: 20px;
}
@media screen and (max-width: 640px) {
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-container > .main-img {
    width: 90%;
  }
  .carousel-container > .main-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .nav-arrow {
    font-size: 20px;
    margin: 0px;
  }
  .img-topic {
    position: absolute;
    top: -40px;
    width: 100%;
  }
}
