.about-section-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 40px;
  min-height: 70vh;
}

.about-content {
  width: 50%;
  margin: 20px;
  text-align: left;
}

.about-image {
  width: 50%;
  height: 450px;
  margin: 20px;
}

.about-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mail-button {
  font-size: 15px;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
  color: black;
}

.resume-button {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px 0;
  font-style: italic;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 640px) {
  .about-section-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    margin: 25px;
  }

  .about-content {
    width: 100%;
    margin: 20px;
  }

  .about-image {
    width: 100%;
    margin: 20px;
  }

  .about-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
