.movie-container {
  margin: 10px;
  text-align: left;
}

.movie-topic-container {
  margin: 50px 10px;
}

.movie-topic-name {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  font-weight: bold;
}

.movie-topic-images {
  display: flex;
  flex-wrap: wrap;
}

.movie-topic-images > .topic-image {
  width: 25%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.movie-topic-images > .topic-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-topic-images > .topic-image > .movie-image-name {
  color: white;
  font-weight: bold;
  position: absolute;
  left: 10px;
  bottom: 20px;
}

@media screen and (max-width: 640px) {
  .movie-topic-container {
    display: flex;
    flex-direction: column;
    margin: 30px 10px;
  }

  .movie-topic-images {
    display: flex;
    flex-direction: column;
  }

  .movie-topic-images > .topic-image {
    width: 100%;
  }
}
