.portfolio-name {
  letter-spacing: 3px;
  font-family: "Roboto Slab", serif;
  padding: 30px;
  font-size: 40px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.menu-item-pill {
  padding: 0 20px;
  text-decoration: none;
  cursor: pointer;
}
.ham-icon-desktop {
  font-size: 30px;
  margin: 15px 30px;
  cursor: pointer;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 640px) {
  .portfolio-name {
    letter-spacing: 0;
    font-family: "Roboto Slab", serif;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
  }

  .header-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .ham-icon {
    font-size: 30px;
    margin: 0 20px;
    cursor: pointer;
  }
  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    min-height: 70vh;
  }

  .menu-item-pill {
    padding: 20px 0;
    cursor: pointer;
  }
}
