.photo-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 20px;
  min-height: 60vh;
}
.photo-topic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
  margin: 20px;
  text-align: left;
}
.topic {
  padding: 10px;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}

.active-topic {
  font-weight: bold;
}

.photos {
  width: 75%;
  height: 500px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.photos > .picture {
  width: 30%;
  padding: 20px;
  margin: 5px;
}

.picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.picture > img:hover {
  opacity: 0.4;
}
@media screen and (max-width: 640px) {
  .photo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    min-height: 75vh;
  }

  .photos {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .photos > .picture {
    width: 100%;
    padding: 10px;
  }
}
